#searchPanel input[type='text'],
#accountPanel,
#accountPanel input,
#menuPanel,
header,
footer > ul li a,
footer div:first-of-type,
footer div:last-of-type,
.indexContainer div figure figcaption a,
.indexContainer > div .carouselSlider li strong,
.indexContainer div:nth-of-type(3) div span,
.indexContainer div:nth-of-type(3) div a,
.indexContainer div:nth-of-type(4) div a,
.indexContainer div:nth-of-type(5) div span,
.indexContainer div:nth-of-type(5) div a,
.indexContainer > div:last-of-type div span a,
.productContainer,
.productContainer .filter > div > input,
.productContainer .filter > div > ul li .cp input,
.productContainer div:nth-of-type(2) > div:nth-of-type(3) .sortmenu,
.wineContainer,
.suggestContainer,
.pairingContainer,
.loginContainer input,
.loginContainer > a,
.loginContainer > p,
.loginContainer > div,
.accountContainer,
#newAddressPopup,
#newAddressPopup input,
#newAddressPopup select,
#editAddressPopup,
#editAddressPopup input,
#editAddressPopup select,
#deleteAddressPopup input,
#contactEndPopup,
#contactEndPopup .closeBtn,
.addressbookContainer,
.wishContainer,
.wishContainer > div > ul li .fillBtn,
.savecardContainer,
.cartlistContainer,
.cartlistContainer div aside form .fillBtn,
.myorderContainer,
.accountdetailContainer,
.accountdetailContainer input,
.paymentContainer,
.paymentContainer input,
.articleContainer,
.fillBtn,
.lineBtn,
.aboutusContainer,
.aboutusContainer.contact #contactsubject,
.aboutusContainer.contact input,
.aboutusContainer.contact textarea,
.aboutusContainer.contact select{
    font-family: 'Nunito Sans';
}
.indexContainer div figure figcaption strong,
.indexContainer div figure figcaption p,
.indexContainer div:nth-of-type(3) div h2,
.indexContainer div:nth-of-type(3) div p,
.indexContainer div:nth-of-type(4) div h2,
.indexContainer div:nth-of-type(4) div p,
.indexContainer div:nth-of-type(5) div h2,
.indexContainer div:nth-of-type(5) div p,
.indexContainer > div:last-of-type div strong,
.indexContainer > div:last-of-type div span,
.pairingContainer > div h2,
.pairingContainer > div div h3,
.pairingContainer aside h3,
.loginContainer h2,
.accountContainer ul a b,
.accountBase div h3,
.addressbookContainer div div h4,
.addressbookContainer div div p,
.wishContainer div div h4,
.wishContainer div div p,
.savecardContainer div div h4,
.savecardContainer div div p,
.cartlistContainer div div h4,
.cartlistContainer div div p,
.myorderContainer div div h4,
.myorderContainer div div p,
.accountdetailContainer h4,
.cartlistContainer > div h3,
.paymentContainer h2,
.aboutusContainer.history h2,
footer div div form h4,
footer div:first-of-type div h3{
    font-family: 'Cormorant';
}
a{
    text-decoration: none;
}
.bg{
    background-repeat: no-repeat; background-position: center top;
}
.crrLanguage{
    background: url('../images/ico_language.svg') no-repeat left top; line-height: 24px;
    box-sizing: border-box; color: var(--gs1); font-size: 14px; font-weight: 400; padding-left: 35px;
}
.bx-wrapper{
    box-shadow: none;
    border: none;
    background: #ffffff;
    position: relative;
    margin-bottom: 0;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
footer:before{
    display: block; content: ''; clear: both;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px var(--gs1) inset;
}

[id$='Panel']{
    display: none;
}
[id$='Panel'].active{
    display: block;
}

#searchPanel{
    background-color: var(--gs1); color: var(--gs3); width: 100%;
    position: fixed; top: 55px; z-index: 51; border-bottom: 1px solid #cbcbcb;
}
#searchPanel div{
    margin: 0 auto; position: relative;
}
#searchPanel label{
    display: none;
}
#searchPanel input[type='text']:focus{
    outline: none;
}
#searchPanel input[type='submit']{
    display: none;
}
header a{
    color: inherit; display: block;
}
header > div h1 a img{
    width: 100%;
}
header > div ul li{
    display: inline-block; width: 20px; height: 20px; text-indent: -9999px;
    background-position: center; background-repeat: no-repeat; background-size: 20px;
}
header > div ul li:nth-child(1){background-image: url('../images/ico_search.svg');}

footer > div:first-of-type > div form input,
footer > div:first-of-type > div form p,
footer > div:first-of-type > div:last-child address,
footer > div:last-of-type > div ol li,
footer > div:last-of-type > div p,
footer > div:last-of-type > div > a,
footer > div:last-of-type > div span{
    font-size: 14px; font-weight: 300;
}
footer > div:first-of-type > div form p,
footer > div:first-of-type > div:last-child address span,
footer > div:first-of-type > div:last-child address div,
footer > div:first-of-type > div:last-child address a{
    color: var(--gs6);
}
footer > div:last-of-type > div ol li a,
footer > div:last-of-type > div,
footer > div:last-of-type > div > a{
    color: var(--gs7);
}
footer > ul,
footer > div:first-of-type > div,
footer > div:last-of-type{
    margin: 0 auto; box-sizing: border-box;
}
footer li{
    list-style: none;
}
footer > ul:after,
footer > div:first-of-type > div:after,
footer > div:last-of-type:after{
    clear: both; content: ''; display: block;
}
footer > ul li a{
    font-size: 16px; font-weight: 300; color: var(--gs10); display: block; text-align: center;
}
footer > ul li a:before{
    display: block; margin: 0 auto;
}
footer > ul li:nth-child(1) a:before{content: url('../images/img_footer_01.png');}
footer > ul li:nth-child(2) a:before{content: url('../images/img_footer_02.png');}
footer > ul li:nth-child(3) a:before{content: url('../images/img_footer_03.png');}
footer > ul li:nth-child(4) a:before{content: url('../images/img_footer_04.png');}
footer > div:first-of-type{
    background-color: var(--gs2);
}
footer > div:first-of-type > div ul li{
    display: inline-block; width: 30px; height: 30px; text-indent: -9999px;
    background-position: center; background-repeat: no-repeat; background-size: contain;
}
footer > div:first-of-type > div ul li:not(:first-child){margin-left: 20px;}
footer > div:first-of-type > div ul li a{
    display: block; width: 100%; height: 100%;
}
footer > div:last-of-type > div:last-of-type > a{
    display: block; margin-left: auto; width: 100px; height: 35px; text-align: center;
    line-height: 35px; color: var(--gs1); background-color: #cbcbcb;
}
footer > div:last-of-type > div:last-of-type div{
    margin-top: 20px;
}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(1){background-image: url('../images/ico_Paypal.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(2){background-image: url('../images/ico_Visa.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(3){background-image: url('../images/ico_Mastercard.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(4){background-image: url('../images/ico_Maestro.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(5){background-image: url('../images/ico_Americanexpress.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(6){background-image: url('../images/ico_Jcb.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(7){background-image: url('../images/ico_Unionpay.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(8){background-image: url('../images/ico_Delta.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(9){background-image: url('../images/ico_Applepay.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(10){background-image: url('../images/ico_Klarna.png')}
/* ? Global */

@media screen and (max-width: 767px){
    #searchPanel input[type='text']{
        border: none; border-bottom: 3px solid #000000;
        font-size: 14px; font-weight: 200; width: 96%;
        margin: 20px 2%; padding: 0 5px; box-sizing: border-box;
    }
    #searchPanel input[type='button']{
        background-image: url('../images/bul_close.png'); background-repeat: no-repeat; background-size: contain;
        padding: 0; width: 20px; height: 20px; position: absolute; right: 15px; top: 18px; text-indent: -9999px;
        border: none; background-color: #ffffff;
    }

    #menuPanel{
        z-index: 101; box-sizing: border-box; position: fixed; background-color: #ffffff; border: 1px solid #cbcbcb;
        border-radius: 3px; padding: 30px 20px; width: 280px; top: 55px;
    }
    #menuPanel .closePanel{
        background: url('../images/bul_close.png') no-repeat; background-size: 30px; border: none;
        text-indent: -9999px; width: 30px; height: 30px; position: absolute; right: 20px;
    }
    #menuPanel span{
        line-height: 24px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #cbcbcb; display: block;
        width: 240px;
    }
    #menuPanel ul{
        margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #cbcbcb; width: 240px;
    }
    #menuPanel ul li{
        list-style: none; margin-bottom: 30px;
    }
    #menuPanel ul li:last-of-type{
        margin-bottom: 0;
    }
    #menuPanel > a{
        background: url('../images/ico_logout.png') no-repeat left; color: #333333; display: block;
        background-size: 20px; padding: 0 0 0 30px;
    }
    #menuPanel > a[href="login.html"]{
        background-image: url('../images/ico_login.png');
    }

    header{
        background-color: #000000; padding-bottom: 10px; position: fixed; width: 100%; left: 0; top: 0;
        font-size: 14px; font-weight: 600; color: #ffffff; z-index: 100;
    }
    header > ol{
        display: none;
    }
    header > div{
        margin: 0 auto; position: relative; padding-top: 15px;
    }
    header > div > *:not(h1){
        position: absolute; top: 20px;
    }
    header > div span{
        display: none;
    }
    header > div input{
        background: url('../images/ico_menu.svg') no-repeat; background-size: 20px; width: 20px; left: 2%; padding: 0;
        background-position: center; border: none; text-indent: -9999px;
    }
    header > div h1{
        max-width: 70px; margin: 0 auto;
    }
    header > div ul{
        right: 2%; top: 20px;
    }
    header > div ul li:nth-child(2){display: none;}
    header > div ul li:nth-child(3){display: none;}
    header > div ul li:nth-child(4){display: none;}
    header > nav{
        display: none;
    }
    /* ? header */
    
    footer > ul{
        padding: 100px 0; box-sizing: border-box; overflow: scroll; white-space: nowrap;
        scrollbar-width: none; -ms-overflow-style: none;
    }
    footer > ul::-webkit-scrollbar{
        display: none;
    }
    footer > ul li{
        width: 100%; display: inline-block;
    }
    footer > div:first-of-type > div{
        padding: 30px 0;
    }
    footer > div:first-of-type > div > div:first-of-type{
        margin: 0 2% 30px;
    }
    footer > div:first-of-type > div > div:last-of-type{
        margin: 0 2%;
    }
    footer > div:first-of-type > div form h4,
    footer > div:first-of-type > div:last-of-type h3{
        font-size: 20px; font-weight: 600; margin-bottom: 20px; color: #333333;
    }
    footer > div:first-of-type > div form p{
        margin-bottom: 20px;
    }
    footer > div:first-of-type > div form label{
        display: none;
    }
    footer > div:first-of-type > div form input{
        margin-bottom: 25px;
    }
    footer > div:first-of-type > div form input[type='email']{
        width: 100%; height: 40px; padding: 0 15px; box-sizing: border-box; border: 1px solid #cbcbcb; margin: 0 auto 15px;
    }
    footer > div:first-of-type > div form input[type='submit']{
        width: 110px; height: 40px; box-sizing: border-box; color: #656565; border: 1px solid #656565; margin-left: auto; display: block;
    }
    footer > div:first-of-type > div ul li:nth-child(1){background-image: url('../images/ico_sns_01.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(2){background-image: url('../images/ico_sns_02.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(3){background-image: url('../images/ico_sns_03.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(4){background-image: url('../images/ico_sns_04.png'); background-size: 30px;}
    footer > div:first-of-type > div:last-child address{
        font-style: normal;
    }
    footer > div:first-of-type > div:last-child address > span{
        display: block; margin-bottom: 20px;
    }
    footer > div:first-of-type > div:last-child address div{
        line-height: 20px; min-width: 260px; display: inline-block;
    }
    footer > div:first-of-type > div:last-child address div span{
        display: inline-block; margin-left: 15px; line-height: 24px;
    }
    footer > div:last-of-type{
        padding: 0 2% 20px;
    }
    footer > div:last-of-type > div:not(:last-of-type){
        border-bottom: 1px solid #cbcbcb;
    }
    footer > div:last-of-type > div h3{
        font-size: 16px; font-weight: 700; padding: 35px 0;
    }
    footer > div:last-of-type > div:not(:last-of-type) h3{
        background: url('../images/bul_arrow_down.png') no-repeat right; background-size: 30px;
    }
    footer > div:last-of-type > div:not(:last-of-type).active h3{
        background-image: url('../images/bul_arrow_up.png');
    }
    footer > div:last-of-type > div:not(:last-of-type) *:not(h3){
        display: none;
    }
    footer > div:last-of-type > div:not(:last-of-type).active *:not(h3){
        display: block;
    }
    footer > div:last-of-type > div ol li:not(:last-of-type){
        margin-bottom: 20px;
    }
    footer > div:last-of-type > div ol li:last-of-type{
        margin-bottom: 35px;
    }
    footer > div:last-of-type > div:last-of-type p{
        margin-bottom: 20px; line-height: 20px;
    }
    footer > div:last-of-type > div:last-of-type div h4{
        margin-top: 25px; font-size: 14px; font-weight: 700;
    }
    footer > div:last-of-type > div:last-of-type div ul{
        margin: 10px 0 20px; display: flex; flex-wrap: wrap;
    }
    footer > div:last-of-type > div:last-of-type div ul li{
        width: 45px; height: 30px; text-indent: -9999px; margin-right: 10px;
        background-position: center; background-repeat: no-repeat; margin-bottom: 10px;
    }
    footer > div:last-of-type > div:last-of-type div ul li img{
        width: 45px; height: 30px;
    }
    footer > div:last-of-type > div:last-of-type span{
        display: flex; align-items: center; justify-content: flex-end;
    }
    footer > div:last-of-type > div:last-of-type span img:first-of-type{
        margin-left: 10px;
    }
    footer > div:last-of-type > div:last-of-type span img:last-of-type{
        width: 22px; height: 35px; margin-left: 5px;
    }
    /* ? Footer */
}
/* ? Mobile */

@media screen and (min-width: 768px) and (max-width: 1279px){
    #searchPanel{
        top: 130px;
    }
    #searchPanel input[type='text']{
        margin: 30px 2%; padding: 0 10px;
    }
    #searchPanel input[type='button']{
        right: 25px; top: 35px;
    }

    #menuPanel{
        z-index: 101; box-sizing: border-box; position: fixed; background-color: #ffffff; border: 1px solid #cbcbcb;
        border-radius: 3px; padding: 50px 24px; width: 300px; top: 42px;
    }
    #menuPanel .closePanel{
        background: url('../images/bul_close.png') no-repeat; background-size: 20px; width: 20px; border: none;
        text-indent: -9999px; width: 20px; height: 20px; position: absolute; right: 40px;
    }
    #menuPanel span{
        line-height: 24px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #cbcbcb; display: block;
        width: 250px;
    }
    #menuPanel ul{
        margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #cbcbcb; width: 252px;
    }
    #menuPanel ul li{
        list-style: none; margin-bottom: 30px;
    }
    #menuPanel ul li:last-of-type{
        margin-bottom: 0;
    }
    #menuPanel > a{
        background: url('../images/ico_logout.png') no-repeat left; color: #333333; display: block;
        background-size: 20px; padding: 0 0 0 30px;
    }
    #menuPanel > a[href="login.html"]{
        background-image: url('../images/ico_login.png');
    }

    header{
        padding-bottom: 20px;
    }
    header > div span{
        display: none;
    }
    header > div input{
        background: url('../images/ico_menu.svg') no-repeat; background-size: 20px; width: 20px; left: 2%; top: 35px; padding: 0;
        background-position: center; border: none; text-indent: -9999px;
    }
    header > div h1{
        max-width: 100px; margin: 0 auto;
    }
    header > div ul li:nth-child(2){display: none;}
    header > div ul li:nth-child(4){display: none;}
    header > nav{
        display: none;
    }
    /* ? header */

    footer > div:first-of-type > div{
        padding: 30px 0 40px;
    }
    footer > div:first-of-type > div > div:first-of-type{
        margin: 0 2% 65px;
    }
    footer > div:first-of-type > div > div:last-of-type{
        margin: 0 2%;
    }
    footer > div:first-of-type > div form h4,
    footer > div:first-of-type > div:last-of-type h3{
        margin-bottom: 15px;
    }
    footer > div:first-of-type > div form p{
        margin-bottom: 20px;
    }
    footer > div:first-of-type > div form input{
        margin-bottom: 25px;
    }
    footer > div:first-of-type > div:last-child address span{
        display: inline-block; line-height: 24px;
    }
    footer > div:first-of-type > div:last-child address > span:last-of-type{
        margin-left: 4%;
    }
    footer > div:first-of-type > div:last-child address div{
        margin-left: 5%; line-height: 24px; min-width: 260px; float: right;
    }
    footer > div:last-of-type{
        padding: 0 2% 20px;
    }
    footer > div:last-of-type > div:not(:last-of-type){
        border-bottom: 1px solid #cbcbcb;
    }
    footer > div:last-of-type > div h3{
        padding: 35px 0;
    }
    footer > div:last-of-type > div:not(:last-of-type) h3{
        background: url('../images/bul_arrow_down.png') no-repeat right; background-size: 30px;
    }
    footer > div:last-of-type > div:not(:last-of-type).active h3{
        background-image: url('../images/bul_arrow_up.png');
    }
    footer > div:last-of-type > div:not(:last-of-type) *:not(h3){
        display: none;
    }
    footer > div:last-of-type > div:not(:last-of-type).active *:not(h3){
        display: block;
    }
    footer > div:last-of-type > div ol li:not(:last-of-type){
        margin-bottom: 20px;
    }
    footer > div:last-of-type > div ol li:last-of-type{
        margin-bottom: 35px;
    }
    footer > div:last-of-type > div:last-of-type p{
        margin-bottom: 20px;
    }
    footer > div:last-of-type > div:last-of-type div h4{
        margin-top: 30px;
    }
    footer > div:last-of-type > div:last-of-type div ul{
        margin: 10px 0 20px;
    }
    /* ? Footer */
}
/* ? Tablet */

@media screen and (min-width: 1280px){
    #searchPanel{
        top: 200px;
    }
    #searchPanel div{
        max-width: 1440px;
    }
    #searchPanel input[type='text']{
        margin: 40px 2%; padding: 0 15px;
    }
    #searchPanel input[type='button']{
        right: 35px; top: 45px; cursor: pointer;
    }

    #accountPanel{
        z-index: 101; box-sizing: border-box; position: fixed; top: 100px; width: 100%;
    }
    #accountPanel div{
        position: relative; max-width: 1440px; margin: 0 auto;
    }
    #accountPanel div form{
        background-color: #ffffff; width: 200px; border-radius: 3px; padding: 10px 0; box-sizing: border-box;
        position: absolute; right: 2%; background-position: 25px; border: 1px solid #cbcbcb;
    }
    #accountPanel div a{
        color: #333333; margin: 0 20px; line-height: 50px; box-sizing: border-box; display: block;
    }
    #accountPanel div a:last-of-type{
        border-bottom: 1px solid #cbcbcb;
    }
    #accountPanel div input{
        background: url('../images/ico_logout.png') no-repeat left; color: #333333; display: block;
        background-size: 20px; padding: 0 0 0 30px; line-height: 50px; box-sizing: border-box; border: none;
        margin: 0 20px; cursor: pointer;
    }

    header{
        padding-bottom: 25px;
    }
    header > div{
        max-width: 1440px;
    }
    header > div span{
        left: 2%;
    }
    header > div input{
        display: none;
    }
    header > div h1{
        max-width: 179px; margin: 0 auto 20px;
    }
    header > div ul li:nth-child(1){cursor: pointer;}
    header > div ul li:nth-child(4){cursor: pointer;}
    header > div ul li:nth-child(4).closePanel{background-image: url('../images/bul_close_white.svg');}
    header > div ul li a{
        height: 20px;
    }
    header > nav ul{
        text-align: center;
    }
    header > nav ul li{
        display: inline-block;
    }
    header > nav ul li:not(:first-child){
        margin-left: 4%;
    }
    header > nav ul li a:hover{
        color: #ff0055;
    }
    /* ? header */

    footer > ul,
    footer > div:first-of-type > div,
    footer > div:last-of-type{
        max-width: 1440px;
    }
    footer > div:first-of-type > div{
        padding: 50px 0 60px;
    }
    footer > div:first-of-type > div > div{
        float: left; box-sizing: border-box;
    }
    footer > div:first-of-type > div > div:first-of-type{
        width: 33%; margin-left: 2%;
    }
    footer > div:first-of-type > div > div:last-of-type{
        width: 33%; margin: 0 2% 0 30%;
    }
    footer > div:first-of-type > div form h4,
    footer > div:first-of-type > div:last-of-type h3{
        margin-bottom: 20px;
    }
    footer > div:first-of-type > div form p{
        margin-bottom: 25px; max-width: 350px;
    }
    footer > div:first-of-type > div form input{
        margin-bottom: 35px;
    }
    footer > div:first-of-type > div form input[type='submit']{
        cursor: pointer;
    }
    footer > div:first-of-type > div:last-child address > span:last-of-type{
        margin-left: 30px;
    }
    footer > div:first-of-type > div:last-child address div{
        display: block; margin: 120px 0 0 auto; max-width: 280px;
    }
    footer > div:first-of-type > div:last-child address div > span{
        margin-left: 15px;
    }
    footer > div:last-of-type{
        padding: 40px 0 20px; max-width: 1440px;
    }
    footer > div:last-of-type > div{
        float: left;
    }
    footer > div:last-of-type > div:not(:last-of-type){
        width: 21%; box-sizing: border-box; margin-left: 2%;
    }
    footer > div:last-of-type > div:last-of-type{
        width: 50%; box-sizing: border-box; margin: 0 2%;
    }
    footer > div:last-of-type > div h3{
        margin-bottom: 40px;
    }
    footer > div:last-of-type > div ol li:not(:last-of-type){
        margin-bottom: 20px;
    }
    footer > div:last-of-type > div:last-of-type p{
        margin-bottom: 25px;
    }
    footer > div:last-of-type > div:last-of-type div h4{
        margin-top: 20px;
    }
    footer > div:last-of-type > div:last-of-type div ul{
        margin: 10px 0 70px;
    }
    /* ? Footer */
}
/* ? Desktop */

@media screen and (min-width: 768px){
    #searchPanel input[type='text']{
        border: none; border-bottom: 3px solid #000000;
        font-size: 25px; font-weight: 400; width: 96%; box-sizing: border-box;
    }
    #searchPanel input[type='button']{
        background-image: url('../images/bul_close.png'); background-repeat: no-repeat; background-size: contain;
        padding: 0; width: 25px; height: 25px; position: absolute; text-indent: -9999px;
        border: none; background-color: #ffffff;
    }


    header{
        background-color: #000000; position: fixed; width: 100%; left: 0; top: 0;
        font-size: 14px; font-weight: 600; color: #ffffff; z-index: 100;
    }
    header > ol{
        background-color: #656565; text-align: center; padding: 10px 0;
    }
    header > ol li{
        display: none; padding-left: 40px; line-height: 22px;
        background: url('../images/ico_delivery.png') no-repeat left center;
    }
    header > ol li.active{
        display: inline-block;
    }
    header > div{
        margin: 0 auto; position: relative; padding-top: 25px;
    }
    header > div > *:not(h1){
        position: absolute; top: 35px;
    }
    header > div ul{
        right: 2%;
    }
    header > div ul li:not(:first-child){margin-left: 10px;}
    header > div ul li:nth-child(2){background-image: url('../images/ico_wishlist.svg');}
    header > div ul li:nth-child(3){background-image: url('../images/ico_cart.svg');}
    header > div ul li:nth-child(4){background-image: url('../images/ico_account.svg');}
    /* ? header */

    footer > ul{
        padding: 155px 0;
    }
    footer > ul li{
        width: 25%; float: left; box-sizing: border-box;
    }
    footer > div:first-of-type > div form h4,
    footer > div:first-of-type > div:last-of-type h3{
        font-size: 20px; font-weight: 600; color: #333333;
    }
    footer > div:first-of-type > div form input[type='email']{
        width: 300px; height: 40px; padding-left: 15px; box-sizing: border-box; border: 1px solid #cbcbcb;
    }
    footer > div:first-of-type > div form input[type='submit']{
        width: 110px; height: 40px; box-sizing: border-box; color: #656565; border: 1px solid #656565;
    }
    footer > div:first-of-type > div ul li:nth-child(1){background-image: url('../images/ico_sns_01.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(2){background-image: url('../images/ico_sns_02.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(3){background-image: url('../images/ico_sns_03.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(4){background-image: url('../images/ico_sns_04.png'); background-size: 30px;}
    footer > div:first-of-type > div:last-child address{
        font-style: normal;
    }
    footer > div:first-of-type > div:last-child address div > span{
        margin-left: 15px;
    }
    footer > div:last-of-type > div h3{
        font-size: 16px; font-weight: 700;
    }
    footer > div:last-of-type > div:last-of-type p{
        line-height: 20px;
    }
    footer > div:last-of-type > div:last-of-type div h4{
        font-size: 14px; font-weight: 700;
    }
    footer > div:last-of-type > div:last-of-type div{
        max-width: 525px; margin-left: auto;
    }
    footer > div:last-of-type > div:last-of-type div ul:after{
        clear: both; content: ''; display: block;
    }
    footer > div:last-of-type > div:last-of-type div ul li{
        float: left; width: 48px; height: 32px; text-indent: -9999px;
        background-position: center; background-repeat: no-repeat;
    }
    footer > div:last-of-type > div:last-of-type div ul li:not(:first-of-type){margin-left: 5px;}
    footer > div:last-of-type > div:last-of-type div ul li img{
        width: 48px; height: 32px;
    }
    footer > div:last-of-type > div:last-of-type span{
        display: flex; max-width: 280px; margin-left: auto; align-items: center;
    }
    footer > div:last-of-type > div:last-of-type span img:first-of-type{
        margin-left: 10px;
    }
    footer > div:last-of-type > div:last-of-type span img:last-of-type{
        width: 22px; height: 35px; margin-left: 5px;
    }
}
/* ? Desktop + Tablet */