.paymentContainer .numbStepper li.active{color: var(--cs2);}
header > nav ul li a:hover{color: var(--cs1);}
[id$="Popup"]{-ms-overflow-style: none;}
[id$="Popup"]::-webkit-scrollbar{display: none;}
a{text-decoration: none;}
mark{background-color: transparent;}
mark,em{font-style: normal;}
.bg{background-repeat: no-repeat; background-position: center top;}
.crrLanguage{background: url('../images/ico_language.svg') no-repeat left top; line-height: 24px; box-sizing: border-box; padding-left: var(--sp35);}
.bx-wrapper{box-shadow: none; border: none; background: var(--gs1); position: relative; margin-bottom: 0; padding: 0; -ms-touch-action: pan-y; touch-action: pan-y;}
.fillBtn{border: none; background-color: var(--cs4); border-radius: 3px; padding: 0; cursor: pointer;}
.lineBtn{border: 1px solid var(--gs9); background-color: transparent; border-radius: 3px; cursor: pointer;}
[class*='Container'] li{list-style: none;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px var(--gs1) inset;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0;}

[id$="Popup"].active,[id$='Panel'].active{display: block;}
#searchPanel{background-color: var(--gs1); position: fixed; top: var(--sp55); z-index: 51; border-bottom: 1px solid var(--gs3);}
#searchPanel div{margin: 0 auto;}
#searchPanel div input[type="text"]{outline: none;}
#menuPanel .crrLanguage{color: var(--gs10);}
#welcomePopup{width: 350px; height: 450px; left: var(--sppc15); top: var(--sppc15); transform: none; padding: 0 var(--sp25);}
#welcomePopup .closePopup{right: var(--sp25); bottom: var(--sp20); text-indent: 0; padding-right: 160px; background-position: right; line-height: 28px;}
#welcomePopup p{line-height: 22px;}

.pager > div > div,.pager > div > div > a{line-height: 16px;}
.pager > div > div:first-of-type a:first-of-type{background: url('../images/bul_firstpage.svg') no-repeat; width: 16px; height: 16px; left: var(--sppc8); top: var(--sp15);}
.pager > div > div:last-of-type a:last-of-type{background: url('../images/bul_lastpage.svg') no-repeat; width: 16px; height: 16px; right: var(--sppc8); top: var(--sp15);}
.pager > div > div > a.deactive{opacity: 40%;}

header a{color: inherit;}
header > div ul li{width: 20px; height: 20px; background-position: center; background-repeat: no-repeat; background-size: 20px;}
header > div ul li:nth-child(1){background-image: url('../images/ico_search.svg');}

footer > ul,footer > div:first-of-type > div,footer > div:last-of-type{margin: 0 auto;}
footer li{list-style: none;}
footer > ul li a:before{margin: 0 auto; display: block;}
footer > ul li:nth-child(1) a:before{content: url('../images/img_footer_01.png');}
footer > ul li:nth-child(2) a:before{content: url('../images/img_footer_02.png');}
footer > ul li:nth-child(3) a:before{content: url('../images/img_footer_03.png');}
footer > ul li:nth-child(4) a:before{content: url('../images/img_footer_04.png');}
footer > div:first-of-type{background-color: var(--gs2);}
footer > div:first-of-type > div ul li{width: 30px; height: 30px; background-position: center; background-repeat: no-repeat; background-size: contain;}
footer > div:first-of-type > div ul li:not(:first-child){margin-left: var(--sp20);}
footer > div:first-of-type > div ul li a{height: 100%;}
footer > div:last-of-type > div:last-of-type > a{margin-left: auto; width: 100px; height: 35px; line-height: 35px; background-color: var(--gs3);}
footer > div:last-of-type > div:last-of-type div{margin-top: var(--sp20);}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(1){background-image: url('../images/ico_Paypal.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(2){background-image: url('../images/ico_Visa.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(3){background-image: url('../images/ico_Mastercard.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(4){background-image: url('../images/ico_Maestro.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(5){background-image: url('../images/ico_Americanexpress.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(6){background-image: url('../images/ico_Jcb.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(7){background-image: url('../images/ico_Unionpay.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(8){background-image: url('../images/ico_Delta.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(9){background-image: url('../images/ico_Applepay.png')}
footer > div:last-of-type > div:last-of-type div ul li:nth-of-type(10){background-image: url('../images/ico_Klarna.png')}

@media screen and (max-width: 767px){
    .bg{height: 100px;}
    .deleteBtn,.closePopup{background: url('../images/bul_close.png') no-repeat; background-color: transparent; width: 18px; height: 18px; border: none; background-size: 18px; padding: 0; text-indent: -9999px;}
    .backBtn{background: url('../images/bul_arrow_left.png') no-repeat left; background-size: 8px; padding-left: var(--sp20); left: 0; top: var(--sp85); position: absolute;}
    #userEmail,[id$="Name"],[id^="birth"],#phoneNum{padding: 0 var(--sp20); height: 50px; border-radius: 3px;}
    [id$="PW"]{padding: 0 var(--sp40) 0 var(--sp20); height: 50px; border-radius: 3px;}
    [id$="Popup"]{width: 90%; height: 550px; margin: 0 auto; padding: 0 var(--sp20); position: fixed; border: 1px solid var(--gs3); background-color: var(--gs1); left: var(--sppc50); top: var(--sppc50); transform: translate(-50%, -50%); overflow-y: scroll; box-shadow: 5px 5px 3px 3px var(--gs3); z-index: 102;}
    [id$="Popup"]:not(#filterPopup, #welcomePopup){height: 190px; overflow-y: hidden; top: var(--sppc50); transform: translate(-50%, -50%);}
    [id$="AddressPopup"].active .closePopup,#filterPopup.active .closePopup{position: absolute; right: var(--sp20); top: var(--sp20); padding: 0; width: 25px; height: 25px; background-size: 25px;}
    [id$="EndPopup"] a{width: 230px; height: 45px; display: block; text-align: center; line-height: 45px; margin: 0 auto;}
    [id^="delete"] input{padding: 0 var(--sppc3); margin-bottom: var(--sp30); width: 100px; height: 40px;}
    #filterPopup{width: 90%; height: 550px; left: var(--sppc50); top: var(--sppc50); transform: translate(-50%, -50%);}
    #filterPopup h3{margin: var(--sp25) 0; display: block; border: none; padding: 0;}
    #welcomePopup{width: 250px; left: var(--sppc5);}
    #welcomePopup .closePopup{line-height: 20px;}

    #searchPanel input[type='text']{border: none; border-bottom: 3px solid var(--gs10); font-size: 14px; width: 96%; margin: var(--sp30) var(--sppc2); padding: 0 var(--sp5); box-sizing: border-box;}
    #searchPanel input[type='button']{background-image: url('../images/bul_close.png'); background-repeat: no-repeat; background-size: contain; padding: 0; width: 15px; height: 15px; right: var(--sppc2); top: var(--sp30); border: none; background-color: var(--gs1);}
    #menuPanel{z-index: 101; box-sizing: border-box; position: fixed; background-color: var(--gs1); border: 1px solid var(--gs3); border-radius: 3px; padding: var(--sp20) var(--sp20); width: 280px; top: var(--sp55);}
    #menuPanel .closePanel{background: url('../images/bul_close.png') no-repeat; background-size: 30px; border: none; text-indent: -9999px; width: 30px; height: 30px; position: absolute; right: var(--sp20); top: var(--sp15);}
    #menuPanel span{line-height: 24px; padding-bottom: var(--sp20); margin-bottom: var(--sp30); border-bottom: 1px solid var(--gs3); display: block; width: 240px;}
    #menuPanel ul{margin-bottom: var(--sp30); padding-bottom: var(--sp30); border-bottom: 1px solid var(--gs3); width: 240px;}
    #menuPanel ul li{list-style: none; margin-bottom: var(--sp30);}
    #menuPanel ul li:last-of-type{margin-bottom: 0;}
    #menuPanel > a{background: url('../images/ico_logout.png') no-repeat left; display: block; background-size: 20px; padding: 0 0 0 var(--sp30);}
    #menuPanel > a[href="login.html"]{background-image: url('../images/ico_login.png');}

    .pager{width: 96%; margin: 0 var(--sppc2);}
    .pager > a{background: url('../images/bul_backtotop.svg') no-repeat; width: 35px; height: 35px; border: 1px solid var(--gs3); border-radius: 50%; background-position: 50%; margin-bottom: var(--sp15); background-size: 15px;}
    .pager > div{border-top: 1px; border-color: var(--gs3); border-style: solid; opacity: 50%; padding-top: var(--sp15);}
    .pager > div > div:first-of-type a:last-of-type{padding-left: var(--sp30); left: var(--sppc22); text-indent: -9999px;}
    .pager > div > div:last-of-type a:first-of-type{padding-right: var(--sp50); right: var(--sppc22); text-indent: -9999px;}

    header{background-color: var(--gs10); padding-bottom: var(--sp10); position: fixed; left: 0; top: 0; z-index: 100;}
    header > ol{display: none;}
    header > div{margin: 0 auto; padding-top: var(--sp15);}
    header > div > *:not(h1){top: var(--sp20);}
    header > div span{display: none;}
    header > div input{background: url('../images/ico_menu.svg') no-repeat; background-size: 20px; width: 20px; left: var(--sppc2); padding: 0; background-position: center; border: none; text-indent: -9999px;}
    header > div h1{max-width: 70px; margin: 0 auto;}
    header > div ul{right: var(--sppc2); top: var(--sp20);}
    header > div ul li:nth-child(2),header > div ul li:nth-child(3),header > div ul li:nth-child(4),header > nav{display: none;}
    
    footer > ul{padding: var(--sp100) 0; box-sizing: border-box; overflow: scroll; white-space: nowrap; scrollbar-width: none; -ms-overflow-style: none;}
    footer > ul::-webkit-scrollbar{display: none;}
    footer > ul li{width: 100%; display: inline-block;}
    footer > div:first-of-type > div{padding: var(--sp30) 0;}
    footer > div:first-of-type > div > div:first-of-type{margin: 0 var(--sppc2) var(--sp30);}
    footer > div:first-of-type > div > div:last-of-type{margin: 0 var(--sppc2);}
    footer > div:first-of-type > div form h4,footer > div:first-of-type > div:last-of-type h3{margin-bottom: var(--sp20);}
    footer > div:first-of-type > div form p{margin-bottom: var(--sp20);}
    footer > div:first-of-type > div form label{display: none;}
    footer > div:first-of-type > div form input{margin-bottom: var(--sp25);}
    footer > div:first-of-type > div form input[type='email']{width: 100%; height: 40px; padding: 0 var(--sp15); border: 1px solid var(--gs3); margin: 0 auto var(--sp15);}
    footer > div:first-of-type > div form input[type='submit']{width: 110px; height: 40px; border: 1px solid var(--gs4); margin-left: auto; display: block;}
    footer > div:first-of-type > div ul li:nth-child(1){background-image: url('../images/ico_sns_01.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(2){background-image: url('../images/ico_sns_02.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(3){background-image: url('../images/ico_sns_03.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(4){background-image: url('../images/ico_sns_04.png'); background-size: 30px;}
    footer > div:first-of-type > div:last-child address{font-style: normal;}
    footer > div:first-of-type > div:last-child address > span{display: block; margin-bottom: var(--sp20);}
    footer > div:first-of-type > div:last-child address div{line-height: var(--sp20); min-width: 260px; display: inline-block;}
    footer > div:first-of-type > div:last-child address div span{display: inline-block; margin-left: var(--sp15); line-height: 24px;}
    footer > div:last-of-type{padding: 0 var(--sppc2) var(--sp20);}
    footer > div:last-of-type > div:not(:last-of-type){border-bottom: 1px solid var(--gs3);}
    footer > div:last-of-type > div h3{padding: var(--sp35) 0;}
    footer > div:last-of-type > div:not(:last-of-type) h3{background: url('../images/bul_arrow_down.png') no-repeat right; background-size: 30px;}
    footer > div:last-of-type > div:not(:last-of-type).active h3{background-image: url('../images/bul_arrow_up.png');}
    footer > div:last-of-type > div:not(:last-of-type) *:not(h3){display: none;}
    footer > div:last-of-type > div:not(:last-of-type).active *:not(h3){display: block;}
    footer > div:last-of-type > div ol li:last-of-type{margin-bottom: var(--sp35);}
    footer > div:last-of-type > div:last-of-type p{margin-bottom: var(--sp20); line-height: 20px;}
    footer > div:last-of-type > div:last-of-type div h4{margin-top: var(--sp25);}
    footer > div:last-of-type > div:last-of-type div ul{margin: var(--sp10) 0 var(--sp20); display: flex; flex-wrap: wrap;}
    footer > div:last-of-type > div:last-of-type div ul li{width: 45px; height: 30px; margin-right: var(--sp10); background-position: center; background-repeat: no-repeat; margin-bottom: var(--sp10);}
    footer > div:last-of-type > div:last-of-type div ul li img{width: 45px; height: 30px;}
    footer > div:last-of-type > div:last-of-type span{display: flex; align-items: center; justify-content: flex-end;}
    footer > div:last-of-type > div:last-of-type span img:first-of-type{margin-left: var(--sp10);}
    footer > div:last-of-type > div:last-of-type span img:last-of-type{width: 22px; height: 35px; margin-left: var(--sp5);}
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    .bg{height: 200px;}
    .backBtn{background: url('../images/bul_arrow_left.png') no-repeat left; background-size: 8px; padding-left: var(--sp20); left: 0; top: var(--sp180); position: absolute;}

    [id$="Popup"]{width: 650px; height: 700px; margin: 0 auto; padding: 0 var(--sp30); position: fixed; border: 1px solid var(--gs3); background-color: var(--gs1); left: var(--sppc48); top: var(--sppc50); transform: translate(-50%, -50%); overflow-y: scroll; box-shadow: 5px 5px 3px 3px var(--gs3); z-index: 102;}
    .deleteBtn,.closePopup{background: url('../images/bul_close.png') no-repeat; background-color: transparent; width: 25px; height: 25px; border: none; background-size: 25px; padding: 0; text-indent: -9999px;}
    #filterPopup{width: 450px; height: 600px; left: var(--sppc50); top: var(--sppc50); transform: translate(-50%, -50%);}
    #filterPopup h3{margin: var(--sp25) 0; display: block; border: none; padding: 0;}
    #filterPopup.active .closePopup{position: absolute; right: var(--sp30); top: var(--sp25); padding: 0; width: 25px;}

    #searchPanel{top: var(--sp130);}
    #searchPanel input[type='text']{margin: var(--sp40) var(--sppc2); padding: 0 var(--sp10);}
    #searchPanel input[type='button']{right: var(--sppc2); top: var(--sp45);}
    #menuPanel{z-index: 101; box-sizing: border-box; position: fixed; background-color: var(--gs1); border: 1px solid var(--gs3); border-radius: 3px; padding: var(--sp50) var(--sp25); width: 300px; top: var(--sp40);}
    #menuPanel .closePanel{background: url('../images/bul_close.png') no-repeat; background-size: 30px; width: 20px; border: none; text-indent: -9999px; width: 30px; height: 30px; position: absolute; right: var(--sp25); top: var(--sp45);}
    #menuPanel span{line-height: 30px; padding-bottom: var(--sp30); margin-bottom: var(--sp30); border-bottom: 1px solid var(--gs3); display: block; width: 250px;}
    #menuPanel ul{margin-bottom: var(--sp30); padding-bottom: var(--sp30); border-bottom: 1px solid var(--gs3); width: 252px;}
    #menuPanel ul li{list-style: none; margin-bottom: var(--sp30);}
    #menuPanel ul li:last-of-type{margin-bottom: 0;}
    #menuPanel > a{background: url('../images/ico_logout.png') no-repeat left; display: block; background-size: 20px; padding: 0 0 0 var(--sp30);}
    #menuPanel > a[href="login.html"]{background-image: url('../images/ico_login.png');}
    

    header{padding-bottom: var(--sp20);}
    header > div span{display: none;}
    header > div input{background: url('../images/ico_menu.svg') no-repeat; background-size: 20px; width: 20px; left: var(--sppc2); top: var(--sp35); padding: 0; background-position: center; border: none; text-indent: -9999px;}
    header > div h1{max-width: 100px; margin: 0 auto;}
    header > div ul li:nth-child(2),header > div ul li:nth-child(4),header > nav{display: none;}

    footer > div:first-of-type > div{padding: var(--sp30) 0 var(--sp40);}
    footer > div:first-of-type > div > div:first-of-type{margin: 0 var(--sppc2) var(--sp65);}
    footer > div:first-of-type > div > div:last-of-type{margin: 0 var(--sppc2);}
    footer > div:first-of-type > div form h4,footer > div:first-of-type > div:last-of-type h3{margin-bottom: var(--sp15);}
    footer > div:first-of-type > div form p{margin-bottom: var(--sp20);}
    footer > div:first-of-type > div form input{margin-bottom: var(--sp25);}
    footer > div:first-of-type > div:last-child address span{display: inline-block; line-height: 24px;}
    footer > div:first-of-type > div:last-child address > span:last-of-type{margin-left: var(--sppc4);}
    footer > div:first-of-type > div:last-child address div{margin-left: var(--sppc5); line-height: 24px; min-width: 260px; float: right;}
    footer > div:last-of-type{padding: 0 var(--sppc2) var(--sp20);}
    footer > div:last-of-type > div:not(:last-of-type){border-bottom: 1px solid var(--gs3);}
    footer > div:last-of-type > div h3{padding: var(--sp35) 0;}
    footer > div:last-of-type > div:not(:last-of-type) h3{background: url('../images/bul_arrow_down.png') no-repeat right; background-size: 30px;}
    footer > div:last-of-type > div:not(:last-of-type).active h3{background-image: url('../images/bul_arrow_up.png');}
    footer > div:last-of-type > div:not(:last-of-type) *:not(h3){display: none;}
    footer > div:last-of-type > div:not(:last-of-type).active *:not(h3){display: block;}
    footer > div:last-of-type > div ol li:last-of-type{margin-bottom: var(--sp35);}
    footer > div:last-of-type > div:last-of-type p{margin-bottom: var(--sp20);}
    footer > div:last-of-type > div:last-of-type div h4{margin-top: var(--sp30);}
    footer > div:last-of-type > div:last-of-type div ul{margin: var(--sp10) 0 var(--sp20);}
}

@media screen and (min-width: 1280px){
    [id$="Popup"]{width: 650px; height: 700px; margin: 0 auto; padding: 0 var(--sp30); position: fixed; border: 1px solid var(--gs3); background-color: var(--gs1); left: var(--sppc50); top: var(--sppc50); transform: translate(-50%, -50%); overflow-y: scroll; box-shadow: 5px 5px 3px 3px var(--gs3); z-index: 102;}
    .bg{height: 300px;}
    .deleteBtn,.closePopup{background: url('../images/bul_close.png') no-repeat; background-color: transparent; width: 25px; height: 25px; border: none; background-size: 25px; padding: 0; cursor: pointer; text-indent: -9999px;}
    .backBtn{background: url('../images/bul_arrow_left.png') no-repeat left; background-size: 8px; padding-left: var(--sp20); left: 0; top: var(--sp290); cursor: pointer; position: absolute;}
    
    #searchPanel{top: var(--sp200);}
    #searchPanel div{max-width: 1440px;}
    #searchPanel input[type='text']{margin: var(--sp50) var(--sppc2); padding: 0 var(--sp15);}
    #searchPanel input[type='button']{right: var(--sppc2); top: var(--sp55); cursor: pointer;}
    #accountPanel{z-index: 101; box-sizing: border-box; position: fixed; top: var(--sp100); width: 100%;}
    #accountPanel div{position: relative; max-width: 1440px; margin: 0 auto;}
    #accountPanel div form{background-color: var(--gs1); width: 200px; border-radius: 3px; padding: var(--sp10) 0; box-sizing: border-box; position: absolute; right: var(--sppc2); background-position: 25px; border: 1px solid var(--gs3);}
    #accountPanel div a{margin: 0 var(--sp20); line-height: 50px; box-sizing: border-box; display: block;}
    #accountPanel div a:last-of-type{border-bottom: 1px solid var(--gs3);}
    #accountPanel div input{background: url('../images/ico_logout.png') no-repeat left; display: block; background-size: 20px; padding: 0 0 0 var(--sp30); line-height: 50px; box-sizing: border-box; border: none; margin: 0 var(--sp20); cursor: pointer;}

    header{padding-bottom: var(--sp25);}
    header > div{max-width: 1440px;}
    header > div span{left: var(--sppc2);}
    header > div input{display: none;}
    header > div h1{max-width: 179px; margin: 0 auto var(--sp20);}
    header > div ul li:nth-child(1),header > div ul li:nth-child(4){cursor: pointer;}
    header > div ul li:nth-child(4).closePanel{background-image: url('../images/bul_close_white.svg');}
    header > div ul li a{height: 20px;}
    header > nav ul{text-align: center;}
    header > nav ul li{display: inline-block;}
    header > nav ul li:not(:first-child){margin-left: var(--sppc4);}

    footer > ul,footer > div:first-of-type > div,footer > div:last-of-type{max-width: 1440px;}
    footer > div:first-of-type > div{padding: var(--sp50) 0;}
    footer > div:first-of-type > div > div{float: left; box-sizing: border-box;}
    footer > div:first-of-type > div > div:first-of-type{width: 41%; margin-left: var(--sppc2);}
    footer > div:first-of-type > div > div:last-of-type{width: 33%; margin: 0 var(--sppc2) 0 var(--sppc22);}
    footer > div:first-of-type > div form h4,footer > div:first-of-type > div:last-of-type h3{margin-bottom: var(--sp20);}
    footer > div:first-of-type > div form p{margin-bottom: var(--sp25); max-width: 350px;}
    footer > div:first-of-type > div form input{margin-bottom: var(--sp35);}
    footer > div:first-of-type > div form input[type='submit']{cursor: pointer;}
    footer > div:first-of-type > div:last-child address > span:last-of-type{margin-left: var(--sp30);}
    footer > div:first-of-type > div:last-child address div{display: block; margin: var(--sp120) 0 0 auto; max-width: 280px;}
    footer > div:last-of-type{padding: var(--sp40) 0 var(--sp20); max-width: 1440px;}
    footer > div:last-of-type > div{float: left;}
    footer > div:last-of-type > div:not(:last-of-type){width: 21%; box-sizing: border-box; margin-left: var(--sppc2);}
    footer > div:last-of-type > div:last-of-type{width: 50%; box-sizing: border-box; margin: 0 var(--sppc2);}
    footer > div:last-of-type > div h3{margin-bottom: var(--sp40);}
    footer > div:last-of-type > div:last-of-type p{margin-bottom: var(--sp25);}
    footer > div:last-of-type > div:last-of-type div h4{margin-top: var(--sp20);}
    footer > div:last-of-type > div:last-of-type div ul{margin: var(--sp10) 0 var(--sp70);}
}

@media screen and (min-width: 768px){
    #userEmail,[id$="Name"],[id^="birth"],#phoneNum{padding: 0 var(--sp20); height: 70px; border-radius: 3px;}
    [id$="PW"]{padding: 0 var(--sp70) 0 var(--sp20); height: 70px; border-radius: 3px;}

    #searchPanel input[type='text']{border: none; border-bottom: 3px solid var(--gs10); width: 96%; box-sizing: border-box;}
    #searchPanel input[type='button']{background-image: url('../images/bul_close.png'); background-repeat: no-repeat; background-size: contain; padding: 0; width: 25px; height: 25px; border: none; background-color: var(--gs1);} 
    
    .pager{width: 100%; margin: 0 auto;}
    .pager > a{background: url('../images/bul_backtotop.svg') no-repeat; width: 35px; height: 35px; border: 1px solid var(--gs3); border-radius: 50%; background-position: 50%; margin-bottom: var(--sp15); background-size: 15px;}
    .pager > div{border-top: 1px; border-color: var(--gs3); border-style: solid; opacity: 50%; padding-top: var(--sp15); margin: 0 var(--sppc2);}
    .pager > div > div:first-of-type a:last-of-type{background: url('../images/bul_previouspage.svg') no-repeat left; width: 16px; height: 16px; padding-left: var(--sp30); left: var(--sppc15); top: var(--sp15);}
    .pager > div > div:last-of-type a:first-of-type{background: url('../images/bul_nextpage.svg') no-repeat right; width: 16px; height: 16px; padding-right: var(--sp50); right: var(--sppc15); top: var(--sp15);}

    header{background-color: var(--gs10); position: fixed; left: 0; top: 0; z-index: 100;}
    header > ol{background-color: var(--gs4); text-align: center; padding: var(--sp10) 0;}
    header > ol li{display: none; padding-left: var(--sp40); line-height: 22px; background: url('../images/ico_delivery.png') no-repeat left center;}
    header > ol li.active{display: inline-block;}
    header > div{margin: 0 auto; padding-top: var(--sp25);}
    header > div > *:not(h1){position: absolute; top: var(--sp35);}
    header > div ul{right: var(--sppc2);}
    header > div ul li:not(:first-child){margin-left: var(--sp10);}
    header > div ul li:nth-child(2){background-image: url('../images/ico_wishlist.svg');}
    header > div ul li:nth-child(3){background-image: url('../images/ico_cart.svg');}
    header > div ul li:nth-child(4){background-image: url('../images/ico_account.svg');}

    footer > ul{padding: var(--sp150) 0;}
    footer > ul li{width: 25%; float: left; box-sizing: border-box;}
    footer > div:first-of-type > div form input[type='email']{width: 300px; height: 40px; padding-left: var(--sp15); border: 1px solid var(--gs3);}
    footer > div:first-of-type > div form input[type='submit']{width: 110px; height: 40px; border: 1px solid var(--gs4);}
    footer > div:first-of-type > div ul li:nth-child(1){background-image: url('../images/ico_sns_01.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(2){background-image: url('../images/ico_sns_02.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(3){background-image: url('../images/ico_sns_03.png'); background-size: 30px;}
    footer > div:first-of-type > div ul li:nth-child(4){background-image: url('../images/ico_sns_04.png'); background-size: 30px;}
    footer > div:first-of-type > div:last-child address{font-style: normal;}
    footer > div:first-of-type > div:last-child address div > span{margin-left: var(--sp15); display: inline-block;}
    footer > div:last-of-type > div:last-of-type p{line-height: 20px;}
    footer > div:last-of-type > div:last-of-type div{max-width: 525px; margin-left: auto;}
    footer > div:last-of-type > div:last-of-type div ul:after{clear: both; content: ''; display: block;}
    footer > div:last-of-type > div:last-of-type div ul li{float: left; width: 48px; height: 32px; background-position: center; background-repeat: no-repeat;}
    footer > div:last-of-type > div:last-of-type div ul li:not(:first-of-type){margin-left: var(--sp5);}
    footer > div:last-of-type > div:last-of-type div ul li img{width: 48px; height: 32px;}
    footer > div:last-of-type > div:last-of-type span{display: flex; max-width: 280px; margin-left: auto; align-items: center;}
    footer > div:last-of-type > div:last-of-type span img:first-of-type{margin-left: var(--sp10);}
    footer > div:last-of-type > div:last-of-type span img:last-of-type{width: 22px; height: 35px; margin-left: var(--sp5);}
}