:root{
    --gs1: #fff;
    --gs2: #f0f0f0;
    --gs3: #cbcbcb;
    --gs4: #656565;
    --gs6: #555;
    --gs7: #4f4f4f;
    --gs8: #333;
    --gs9: #111;
    --gs10: #000;
    --cs1: #ff0055;
    --cs2: #f00050;
    --cs3: #cb0044;
    --cs4: #7e002b;
    --cs5: #5b001e;
    --gps2: #f0e1aa;
    --rs2: #e2703f;

    --sp5: 5px;
    --sp10: 10px;
    --sp15: 15px;
    --sp20: 20px;
    --sp25: 25px;
    --sp30: 30px;
    --sp35: 35px;
    --sp40: 40px;
    --sp45: 45px;
    --sp50: 50px;
    --sp55: 55px;
    --sp65: 65px;
    --sp70: 70px;
    --sp85: 85px;
    --sp100: 100px;
    --sp105: 105px;
    --sp120: 120px;
    --sp130: 130px;
    --sp150: 150px;
    --sp180: 180px;
    --sp200: 200px;
    --sp225: 225px;
    --sp250: 250px;
    --sp290: 290px;
    --sp300: 300px;
    --sp330: 330px;
    --sp1200: 1200px;

    --sppc1_5: 1.5%;
    --sppc2: 2%;
    --sppc2_1: 2.1%;
    --sppc2_3: 2.3%;
    --sppc2_5: 2.5%;
    --sppc3: 3%;
    --sppc3_5: 3.5%;
    --sppc4: 4%;
    --sppc4_5: 4.5%;
    --sppc5: 5%;
    --sppc5_5: 5.5%;
    --sppc6: 6%;
    --sppc8: 8%;
    --sppc10: 10%;
    --sppc12_5: 12.5%;
    --sppc15: 15%;
    --sppc22: 22%;
    --sppc30: 30%;
    --sppc48: 48%;
    --sppc50: 50%;
}

[class*='nun']{font-family: 'Nunito Sans';}
[class*='cor']{font-family: 'Cormorant';}

[class*='w2']{font-weight: 200;}
[class*='w3']{font-weight: 300;}
[class*='w4']{font-weight: 400;}
[class*='w5']{font-weight: 500;}
[class*='w6']{font-weight: 600;}
[class*='w7']{font-weight: 700;}
[class*='w8']{font-weight: 800;}

.gray10{color: var(--gs10);}
.gray9{color: var(--gs9);}
.gray8{color: var(--gs8);}
.gray7{color: var(--gs7);}
.gray6{color: var(--gs6);}
.gray4{color: var(--gs4);}
.gray3{color: var(--gs3);}
.gray2{color: var(--gs2);}
.gray1{color: var(--gs1);}
.color4{color: var(--cs4);}
.color3{color: var(--cs3);}
.goldPale2{color: var(--gps2);}

.floatContainer:after{clear: both; content: ''; display: block;}
.dispNone{display: none;}
.dispIB{display: inline-block;}
.dispB{display: block;}
.widthMax{width: 100%;}
.leftPos{float: left;}
.textDecoUnder{text-decoration: underline;}
.textCenter{text-align: center;}
.textLeft{text-align: left;}
.textRight{text-align: right;}
.boxSize{box-sizing: border-box;}
.textHide{text-indent: -9999px;}
.mBot20{margin-bottom: var(--sp20);}
.mBot30{margin-bottom: var(--sp30);}
.relativePos{position: relative;}
.absolutePos{position: absolute;}

@media screen and (max-width: 767px){
    [class*='s14']{font-size: 14px;}
    [class*='s16']{font-size: 16px;}
    [class*='s20']{font-size: 18px;}
    [class*='s24']{font-size: 20px;}
    [class*='s40']{font-size: 35px;}
    [class*='s50']{font-size: 40px;}
    [class*='s150']{font-size: 40px;}
    [class*='s200']{font-size: 150px;}
    [class*='nunw7s20']{font-size: 20px;}
    [class*='nunw2s24'],[class*='nunw7s24']{font-size: 14px;}
    [class*='nunw4s24'],[class*='nunw3s30']{font-size: 24px;}
    [class*='nunw6s30'],[class*='corw6s30']{font-size: 24px;}
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    [class*='s14']{font-size: 14px;}
    [class*='s16']{font-size: 16px;}
    [class*='s20']{font-size: 18px;}
    [class*='s24']{font-size: 24px;}
    [class*='s40']{font-size: 40px;}
    [class*='s50']{font-size: 50px;}
    [class*='s150']{font-size: 100px;}
    [class*='s200']{font-size: 150px;}
    [class*='nunw7s20']{font-size: 20px;}
    [class*='nunw3s30'],[class*='nunw6s30'],[class*='corw6s30']{font-size: 24px;}
}
@media screen and (min-width: 1280px){
    [class*='s14']{font-size: 14px;}
    [class*='s16']{font-size: 16px;}
    [class*='s20']{font-size: 20px;}
    [class*='s24']{font-size: 24px;}
    [class*='s30']{font-size: 30px;}
    [class*='s40']{font-size: 40px;}
    [class*='s50']{font-size: 50px;}
    [class*='s150']{font-size: 150px;}
    [class*='s200']{font-size: 200px;}
}
@media screen and (min-width: 768px){
    .exMobileFloatContainer:after{clear: both; content: ''; display: block;}
}