:root{
    --gs1: #fff;
    --gs2: #f0f0f0;
    --gs3: #cbcbcb;
    --gs4: #656565;
    --gs6: #555;
    --gs7: #4f4f4f;
    --gs8: #333;
    --gs9: #111;
    --gs10: #000;
    --cs3: #CB0044;
    --cs4: #7e002b;
    --gps2: #f0e1aa;

    --sp10: 10px;
    --sp20: 20px;
}

[class^='nun']{font-family: 'Nunito Sans';}
[class^='cor']{font-family: 'Cormorant';}

[class*='2_']{font-weight: 200;}
[class*='3_']{font-weight: 300;}
[class*='4_']{font-weight: 400;}
[class*='5_']{font-weight: 500;}
[class*='6_']{font-weight: 600;}
[class*='7_']{font-weight: 700;}
[class*='8_']{font-weight: 800;}

@media screen and (max-width: 767px){

}
@media screen and (min-width: 768px) and (max-width: 1279px){

}
@media screen and (min-width: 1280px){    
    [class$='14']{font-size: 14px;}
    [class$='16']{font-size: 16px;}
    [class$='18']{font-size: 18px;}
    [class$='20']{font-size: 20px;}
    [class$='22']{font-size: 22px;}
    [class$='24']{font-size: 24px;}
    [class$='26']{font-size: 26px;}
    [class$='34']{font-size: 34px;}
    [class$='36']{font-size: 36px;}
    [class$='40']{font-size: 40px;}
    [class$='48']{font-size: 48px;}
    [class$='50']{font-size: 50px;}
    [class$='150']{font-size: 150px;}
    [class$='200']{font-size: 200px;}
}